.input{
    height: 3rem;
    width: 75%;
    border-radius: 12px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

input{
    background: none;
    border: none;
    margin-left: 1rem;
    flex: 1;
}
input:focus{
    outline: none;
}
@media (max-width:420px){
    .input{
        width: 100%;
    }
}